DISCORD_TOKEN=
DISCORD_WEBHOOK_URL=
CLIENT_ID=1465328470312747181
GUILD_ID=1480232409105699030
RAID_AVALON_CHANNEL_ID=
RAID_AVALON_MESSAGE_ID=
DATABASE_PATH=./data/notag.sqlite
NODE_ENV=production
IDLE_HOST_USER_IDS=1276439186513203234,1436716667894759475
IDLE_TOPIC_ID=1525824031784304770
ALBION_API_BASE=https://gameinfo-ams.albiononline.com/api/gameinfo
ALBION_API_BASE_URL=https://gameinfo-ams.albiononline.com/api/gameinfo
ALBION_GUILD_NAME=NoTag
