DISCORD_TOKEN=
DISCORD_WEBHOOK_URL=
CLIENT_ID=1465328470312747181
GUILD_ID=1480232409105699030
RAID_AVALON_CHANNEL_ID=
RAID_AVALON_MESSAGE_ID=
DATABASE_PATH=./data/notag.sqlite
NODE_ENV=production
DASHBOARD_PORT=3000
